.item {
	width: 100%;
	min-height: 320px;
	height: fit-content;
	&__content {
		padding: 45px 95px;
		background-color: #ebebeb;
	}
	&__text {
		font-weight: 300;
		line-height: 25px;
		font-size: 18px;
		margin-bottom: 45px;
		font-family: "Lato";
	}
	&__content {
		animation: fade-in 1s linear;
	}
}

.person {
	display: flex;
	&__image {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		margin-right: 35px;
	}
	&__name {
		margin-bottom: 5px;
		margin-top: 10px;
		font-size: 18px;
		line-height: 25px;
		font-weight: 900;
	}
	&__role {
		color: #4f4f4f;
		font-size: 14px;
		line-height: 19px;
		font-weight: normal;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 800px) {
	.item__content {
		padding: 20px;
	}
	.item {
		padding-bottom: 250px;
	}
}
