.dots {
	position: absolute;
	bottom: 113px;
	left: 0px;
	display: flex;
	&__item {
		margin-right: 40px;
		width: 10px;
		height: 10px;
		background-color: #fff;
		opacity: 0.4;
		border-radius: 50%;
		cursor: pointer;
	}
	&__item_blue {
		background-color: #005fa3;
	}
}
