.header__info__item {
	display: flex;
	align-items: flex-start;
	height: fit-content;
}

.header__info__text {
	font-size: 13px;
	height: auto;
	margin-bottom: 22px;
}

.header__info__icon {
	height: fit-content;
	margin-right: 15px;
}
