.header__item {
	display: flex;
	align-items: flex-start;
	height: fit-content;
}

.header__text {
	font-size: 13px;
	height: auto;
	margin-bottom: 22px;
}

.header__icon {
	height: fit-content;
	margin-right: 15px;
}

@media screen and (max-width: 800px) {
	.header__icon {
		margin-right: 10px;
	}
}
