.header {
	width: 100%;
	max-width: 1110px;
	height: 78px;
	position: relative;

	margin: 0 auto;
	&__container {
		margin-top: 22px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 57px;
	}
}

.icon {
	font-size: 25px;
	position: absolute;
	top: -10px;
	right: 20px;
	display: none;
	z-index: 2;
	cursor: pointer;
}
.mobile__menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100px;
	background-color: white;
	margin: 0 auto;
	width: 100%;
}

@media screen and (max-width: 1110px) {
	.header__container {
		padding: 0px 15px;
	}
}

@media screen and (max-width: 820px) {
	.header__menu {
		display: none;
	}

	.icon {
		display: block;
	}
}
