.header {
	width: 100%;
	max-width: 1110px;

	height: 78px;

	margin: 0 auto;
	&__container {
		margin-top: 22px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 57px;
	}
}
