.main {
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	&__container {
		max-width: 1110px;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		position: relative;
	}
	&__shadow {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.6);
		height: 100%;
		width: 100%;
		z-index: -1;
	}
}
.main_grey {
	background-color: #ebebeb;
}

@media screen and (max-width: 1110px) {
	.main__container {
		padding: 0 15px;
		box-sizing: border-box;
	}
}
