.icons_container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: absolute;
	width: 100%;
	height: fit-content;
}

@media screen and (max-width: 1110px) {
	.icons_container {
		box-sizing: border-box;
		width: 95%;
		margin-bottom: 30px;
	}
}
@media screen and(max-width: 500px) {
	.icons_container {
		width: 90%;
	}
}
